###############################################################################
# Local editor settings
###############################################################################
.vscode/          # VS Code workspace folder (all contents)

###############################################################################
# Secrets / environment
###############################################################################
*.env             # .env, prod.env, staging.env, etc.


